body {
	position: relative;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: black;
	background-color: white;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* header */

.header-wrapper {
    max-width: 960px;
	margin: 0 auto;
	background: white;
}

.main-header {
    display: flex;
    flex-direction: row; 
    margin: 0 auto;
}

.header-logo {
    display: block;
    margin: 0 150px 0 0;
}

ul.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 20px 0 0 0;
	padding: 0;
}

li.site-navigation {
    display: block;
    font-size: 16px;
	line-height: 1.25;
    text-transform: uppercase;
	margin: 0 0 0 40px;
}

.site-navigation a {
	color: black;
	text-decoration: none;
}

@media (min-width: 640px) and (max-width: 1220px) {
	.header-logo {
		margin: 0;
	}

	li.site-navigation {
		display: block;
		font-size: 14px;
		line-height: 1.25;
		text-transform: uppercase;
		margin: 10px 0 0 7px;
	}

	.main-nav {
		width: 50em;
	}
}

@media (max-width: 960px) {
	.header-logo {
		margin: 0;
	}

	li.site-navigation {
		display: block;
		font-size: 14px;
		line-height: 1.25;
		text-transform: uppercase;
	}

	.main-nav {
		width: 50em;
	}
}
/* main-info */

.main-logo-backgr {
	background-image: url("../img/main-backgr.png");
	background-color: #89003c;
	background-repeat: no-repeat;
	height: 592px;
	background-position: center;
	margin-top: 10px;
}

.main-info-wrap {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.main-info {
	font-size: 34px;
	line-height: 2.6;
	color: white;
	margin: 0 auto;
	padding-top: 90px;
}

.main-heading {
	position: relative;
	font-size: 82px;
	line-height: 1.09;
	color: white;
	margin: 0 auto;
}

.main-heading::before {
	content: "";
	position: absolute;
	width: 460px;
	height: 3px;
	background-color: white;
	bottom: -10px;
}

.main-info-about {
	font-size: 24px;
	line-height: 1.08;
	text-transform: uppercase;
	color: white;
	margin: 50px 0 0 0;
}

.main-info-price {
	font-size: 36px;
	line-height: 1.3;
	color: white;
	margin: 0 auto;
}

.main-button {
	display: inline-block;
	vertical-align: top;
	background-color: transparent;
	border: 1px solid white;
	font-size: 16px;
	line-height: 1.8;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	padding: 15px;
	margin: 40px 20px 0 10px;
}

@media (max-width: 640px) {
	.main-logo-backgr {
		background-image: url("../img/640.png");
		width: 100%;
		margin: 0 auto;
	}

	.main-info {
		font-size: 24px;
	}

	.main-heading {
		font-size: 57px;
		font-weight: 500;
		margin-top: -20px;
	}

	.main-heading::before {
		width: 320px;
		height: 3px;
		left: 150px;
	}

	.main-info-about {
		font-size: 18px;
	}

	.main-buttons {
		display: flex;
		flex-direction: column;
		width: 320px;
		margin: 0 auto;
		padding: 0;
	}
}

/* info */

.about-wrap {
	display: block;
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.about-heading {
	position: relative;
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	margin: 40px 0 25px 0;
	padding: 0;
}

.about-heading::before {
	content: "";
	position: absolute;
	width: 90px;
	height: 3px;
	background-color: black;
	bottom: -15px;
	left: 50%;
	margin-left: -50px;
	padding: 0;
}

.about-text {
	font-size: 16px;
	line-height: 1.6;
	margin: 15px 0 0 0;
	padding: 0;
}

/* gallery */

.gallery {
	display: flex;
	flex-direction: row;
	margin: 20px 0 0 0;
	padding: 0;
}

/* size-table */

.size-wrap {
	background-color: white;
	padding: 30px;
	margin: 0 auto;
}

.size {
	width: 100%;
	background-color: white;
	border-collapse: collapse;
}

.size-table {
	background-image: url("../img/size-table-back.png");
	background-color: #fdf8fa;
	background-repeat: no-repeat;
	height: 430px;
	margin: 0 auto;
}

.size-table-wrap {
	display: block;
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
}

.size-table-heading {
	position: relative;
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 25px 0;
	padding-top: 20px;
}

.size-table-heading::before {
	content: "";
	position: absolute;
	width: 90px;
	height: 3px;
	background-color: black;
	bottom: -15px;
	left: 50%;
	margin-left: -50px;
	padding: 0;
}

.left-column {
	text-align: left;
}

th {
	padding: 15px;
}

tr:nth-child(2n+1) {
	background-color: #f3f3f3;
}

.size-name {
	text-transform: uppercase;
}

@media (min-width: 640px) and (max-width: 1220px) {
	.size-wrap {
		width: 100%;
		margin: 0 auto;
		padding: 10px 0 10px 0;
	}

	.size {
		width: 43em;
		margin: 0 auto;
		padding: 0;
	}
}

/* catalog */

.catalog-wrap {
	display: block;
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.catalog-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-heading {
	position: relative;
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	margin: 40px 0 25px 0;
	padding: 0;
}

.catalog-heading::before {
	content: "";
	position: absolute;
	width: 90px;
	height: 3px;
	background-color: black;
	bottom: -15px;
	left: 50%;
	margin-left: -50px;
	padding: 0;
}

.catalog-item-wrap {
	border: 1px solid #dbdbdf;
	margin: 20px 0 0 0;
}

.catalog-button {
	display: inline-block;
	vertical-align: top;
	background-color: #f3f3f3;
	border: none;
	font-size: 16px;
	line-height: 1.8;
	text-transform: uppercase;
	color: black;
	cursor: pointer;
	padding: 15px;
	margin: 40px 20px 0 10px;
}

.catalog-button:focus {
	display: inline-block;
	vertical-align: top;
	background-color: #ba0152;
	border: none;
	font-size: 16px;
	line-height: 1.8;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	padding: 15px;
	margin: 40px 20px 0 10px;
}

.pic-wrap {
	position: relative;
}

.pic-wrap::before {
	position: absolute;
	content: "";
	background-image: url("../img/circle.png");
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	top: 10px;
	left: 10px;
}

.pic-wrap::after {
	position: absolute;
	content: "-53%";
	font-size: 20px;
	font-weight: 600;
	line-height: 1.8;
	color: #e6e6e6;
	top: 23px;
	left: 18px;
}

.item-name {
	font-size: 18px;
	margin: 10px 0 20px 0;
	padding: 0;
}

.checkboxes {
	position: relative;
	display: block;
	margin: 0 0 10px 0;
}

label {
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}

input[type=checkbox]:checked + span {
	border: 1px solid #b4014e;
	padding: 2px;
}

input[type=checkbox]:disabled + span {
	color: #d5d5d9;
}

input[type=radio] {
	margin: 0 0 0 -4px;
}

.catalog-item-price-old {
	font-size: 24px;
	line-height: 1.5;
	text-decoration: line-through;
	color: #8c8c8c;
}

.catalog-item-price-new {
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	color: #b4014e;
	margin: 0 0 0 10px;
}

.order-button {
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(to bottom, #7350af, #4b74e6);
	border: none;
	border-radius: 5px;
	box-shadow: 0px -3px 4px -2px #375cb3 inset;
	font-size: 18px;
	line-height: 1.8;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	padding: 10px 80px 10px 80px;
	margin: 20px 0 20px 0;
}

/* modal */

.modal-window-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 640px;
	height: 350px;
	margin: 0 auto;
	padding: 0;
}

.modal-window-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 1;
}

.modal-window-close {
	position: relative;
	background: none;
	border: none;
	width: 50px;
	height: 10px;
	cursor: pointer;
	top: 5px;
	right: 40px;
}

.modal-window-close::before {
	position: absolute;
	content: "х";
	color: #8c8c8c;
	font-size: 20px;
	top: 0;
	right: 0;
} 

.form {
	display: flex;
	flex-direction: column;
	margin: 15px 0 0 0;
}

.order-item-name {
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.order-item-price-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.select-size {
	display: inline-block;
	border: 1px solid #ceced3;
	font-size: 18px;
	line-height: 1.8;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	padding: 10px 140px 10px 140px;
	margin: 10px 20px 0 10px;
	appearance: none;
	-webkit-appearance: none;       
	-moz-appearance: none;    
}

.list {
	position: relative;
}

.list::before {
	position: absolute;
	content: "";
	background-image: url("../img/Rectangle.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 9px;
	top: 35px;
	right: 30px;
	cursor: pointer;
}

.name, .tel {
	display: inline-block;
	border: 1px solid #ceced3;
	font-size: 18px;
	line-height: 1.8;
	cursor: pointer;
	text-align: center;
	padding: 10px 50px 10px 50px;
	margin: 10px 20px 0 10px;
}

.form-order-button-wrap {
	margin: -7px 0 0 10px;
}

.form-order-button {
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(to bottom, #7350af, #4b74e6);
	border: none;
	border-radius: 5px;
	box-shadow: 0px -3px 4px -2px #375cb3 inset;
	-webkit-box-shadow: 0px -3px 4px -2px #375cb3 inset;
	-moz-box-shadow: 0px -3px 4px -2px #375cb3 inset;
	font-size: 18px;
	line-height: 1.8;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	width: 320px;
	padding: 10px;
	margin: 20px 0 20px 0;
}

.modal-window-show {
	display: none;
}

.modal-window {
	position: absolute;
	background-color: white;
	width: 640px;
	height: 350px;
	margin-top: 71px;
	border: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/* footer */
.main-footer {
	background-color: #f7f2f4;
	padding: 0 0 50px 0;
}

.about-order-wrap {
	display: block;
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.about-order-heading {
	position: relative;
	font-size: 60px;
	line-height: 0.6;
	text-transform: uppercase;
	margin: 40px 0 40px 0;
	padding-top: 80px
}

.about-order-heading::before {
	content: "";
	position: absolute;
	width: 90px;
	height: 3px;
	background-color: black;
	bottom: -25px;
	left: 50%;
	margin-left: -50px;
	padding: 0;
}

.newspaper, .telemarketer, .package, .credit-card {
	position: relative;
	background-color: #b4014e;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 5px #d579a1 inset;
	-webkit-box-shadow: 0px 0px 0px 5px #d579a1 inset;
	-moz-box-shadow: 0px 0px 0px 5px #d579a1 inset;
	width: 136px; 
	height: 136px;
	left: 40px;
}

.instruction {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 0 40px;
}

.instruction::before {
	position: absolute;
	content: "";
	width: 50em;
	border-top: 2px dotted #dcdade;
	top: 160px;
	left: 111px;
}

.instruction-pic {
	position: absolute;
	top: 40px;
	left: 40px;
}

.instruction-wrap {
	position: relative;
	display: block;
	width: 220px;
	margin: 0 auto;
	padding: 0;
}

.instruction-wrap::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ceced3;
	box-shadow:0px 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 0px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 0px 1px 3px rgba(0,0,0,0.1);
	top: 156px;
	left: 106px;
}

.instruction-text {
	font-size: 16px;
	line-height: 1.5;
	margin: 40px 0 0 0;
	padding: 0;
}

@media (max-width: 640px) {
	.instruction {
		margin: 0;
	}

	.instruction-wrap {
		margin-top: 20px;
	}

	.instruction::before {
		width: 32em;
		top: 180px;
		left: 150px;
	}

	.instruction::after {
		position: absolute;
		content: "";
		width: 32em;
		border-top: 2px dotted #dcdade;
		top: 425px;
		left: 20px;
	}
}